a {text-decoration: none;}
li {list-style: none;}

h2 {
    text-align: center;
    padding-top: 10px;
}
.item {
    width: 800px;
    margin: 0 auto;
}
.item::after {
    content: "";
    display: block;
    clear: both;
}
.product1 {
    text-align: center;
    margin: 0 50px;
    float: left;
}
.product2 {
    text-align: center;
    margin: 0 50px;
    float: left;
}

